---
import "../../styles/content/projects-section.css";


const { id, projects } = Astro.props;
---

<div id={id} class="projects-section">
    <h2 id="projects-title" class="text-underline">projects</h2>
    <ol id="carousel">
        {projects.map(project => 
        (<li class="carousel-item">
            <section class="project">
                <header class="project-header">
                    <h4 class="project-title">{project.name}</h4>
                    <a class="project-github-link" href={project.gitHubUrl}>GitHub</a>
                </header>
                <p class="project-body">{project.description}</p>
                <footer class="project-footer">
                    <p>
                        Built with: {project.tools.map((tool, index) => index !== project.tools.length - 1 ?  `${tool}, ` : `and ${tool}.`)}
                    </p>
                </footer>
            </section>
        </li>))}
    </ol>
</div>