---
import "../styles/reset.css";
import "../styles/global.css"
import WebPageRootLayout from "../components/layouts/WebPageRootLayout.astro";
import Header from "../components/content/Header.astro";
import Footer from "../components/content/Footer.astro";
import Introduction from "../components/content/Introduction.astro";
import AboutAndSkills from "../components/content/AboutAndSkills.astro";
import Projects from "../components/content/Projects.astro";

const baseVisualMediaAssetsPath = "/";
const logoPath = baseVisualMediaAssetsPath + "logo.svg";
const pageContent = [
	{id: "introduction-section", linkNames: ["introduction"], component: Introduction,},
	{id: "about-skills-section", linkNames: ["about", "skills"], component: AboutAndSkills},
	{id: "projects-section", linkNames: ["projects"], component: Projects}
];
const projects = [
    {
        name: "chatty", 
        gitHubUrl: "https://github.com/AdlaiMB/chatty", 
        description: "A real-time chat web app where users can create rooms, invite users to rooms, and chat with users.", 
        tools: ["Python", "FastAPI", "PostgreSQL", "JavaScript", "React", "CSS", "Vite"]
    },
    {
        name: "tomelog",
        gitHubUrl: "https://github.com/AdlaiMB/tomelog", 
        description: "A web app where users can search for their books and record their reading progress.", 
        tools: ["JavaScript", "React", "CSS", "Vite"]
    },
    {
        name: "amazon storefront DB",
        gitHubUrl: "https://github.com/deet5/Amazon-Storefront-DB", 
        description: "A database-driven application for managing user accounts, stores, products, and orders.", 
        tools: ["Java", "PostgreSQL"]
    },
];

const headerLinks = [];
pageContent.forEach(content => {
	const fragment = `#${content.id}`;
	content.linkNames.forEach(linkName => {
		headerLinks.push({fragment, linkName})
	})
});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href={logoPath}>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shippori+Mincho&display=swap" rel="stylesheet">
		<title>adlai's portfolio</title>
	</head>
	<body>
		<WebPageRootLayout>
			<Header links={headerLinks}/>
			{pageContent.map(content => content.component === Projects ? <content.component id={content.id} projects={projects}/> : <content.component id={content.id}/> )}
			<Footer />
		</WebPageRootLayout>
	</body>
</html>